.botao {
    background-color: #6278f7;
    border-radius: 10px ;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    color: #f0f0f0;
    border: none;
    cursor: pointer;
    margin: 32px 0;
}

.botao:hover{
    color: #95ffb4;
}